---
http_interactions:
- request:
    method: get
    uri: http://feeds.feedburner.com/DevnologyPodcast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml; charset=UTF-8
      etag:
      - pcAcj2rnrK+dkd6wc+ogvHnKZvE
      last-modified:
      - Tue, 04 Mar 2014 17:59:35 GMT
      alternate-protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        media=\"screen\" href=\"/~d/styles/rss2enclosuresfull.xsl\"?><?xml-stylesheet
        type=\"text/css\" media=\"screen\" href=\"http://feeds.feedburner.com/~d/styles/itemcontent.css\"?><rss
        xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:cc=\"http://web.resource.org/cc/\"
        xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\" xmlns:media=\"http://search.yahoo.com/mrss/\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\"
        version=\"2.0\">\r\n\t<channel>\r\n\t\t\r\n\t\t<title>Devnology Podcast</title>\r\n\t\t<pubDate>Sat,
        18 Jan 2014 21:10:00 +0000</pubDate>\r\n\t\t<lastBuildDate>Tue, 04 Mar 2014
        04:26:08 +0000</lastBuildDate>\r\n\t\t<generator>Libsyn WebEngine 2.0</generator>\r\n\t\t<link>http://devnology.nl</link>\r\n\t\t<language>en</language>\r\n\t\t<copyright>Devnology
        2009-2011</copyright>\r\n\t\t<docs>http://devnology.nl</docs>\r\n\t\t<managingEditor>podcast@devnology.nl
        (podcast@devnology.nl)</managingEditor>\r\n\t\t<description><![CDATA[Monthly
        show on software development topics]]></description>\r\n\t\t<image>\r\n\t\t\t<url>http://assets.libsyn.com/content/5659185.jpg</url>\r\n\t\t\t<title>Devnology
        Podcast</title>\r\n\t\t\t<link><![CDATA[http://devnology.nl]]></link>\r\n\t\t</image>\r\n\t\t<itunes:author>Devnology</itunes:author>\r\n\t\t<itunes:keywords>development,software,software,programming,architecture,microsoft,java,net,agile,scrum,lean,devnology,languages</itunes:keywords>\r\n\t\r\n\t\t<itunes:image
        href=\"http://devnology.nl/images/stories/devnology/Devnology-D-250x250.png\"
        />\r\n\t\t<itunes:explicit>no</itunes:explicit>\r\n\t\t\r\n\t\t<itunes:summary>Devnology
        Podcast is a podcast for software engineers. In our episodes we want to explore
        exciting technologies and methodologies, often by interviewing a well-known
        subject from the software community. We will generally not focus on a single
        platform or language, but rather explore the differences between these and
        look at general concepts of software engineering. Devnology is a foundation
        that aims to provide software developers in the Netherlands with opportunities
        to exchange knowledge and experience. Note that this podcast feed provides
        recordings in English and Dutch, use this feed for English only: http://itunes.apple.com/us/podcast/devnology-podcast-en/id431713061.</itunes:summary>\r\n\t\t<itunes:subtitle>Community
        driven development</itunes:subtitle>\r\n\t\t\t\t<atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\"
        rel=\"self\" type=\"application/rss+xml\" href=\"http://feeds.feedburner.com/DevnologyPodcast\"
        /><feedburner:info uri=\"devnologypodcast\" /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\"
        rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\" /><media:copyright>Devnology
        2009-2011</media:copyright><media:thumbnail url=\"http://devnology.nl/images/stories/devnology/Devnology-D-250x250.png\"
        /><media:keywords>development,software,software,programming,architecture,microsoft,java,net,agile,scrum,lean,devnology,languages</media:keywords><media:category
        scheme=\"http://www.itunes.com/dtds/podcast-1.0.dtd\">Technology/Podcasting</media:category><itunes:owner><itunes:email>podcast@devnology.nl</itunes:email><itunes:name>Devnology</itunes:name></itunes:owner><itunes:category
        text=\"Technology\"><itunes:category text=\"Podcasting\" /></itunes:category><feedburner:emailServiceId>DevnologyPodcast</feedburner:emailServiceId><feedburner:feedburnerHostname>http://feedburner.google.com</feedburner:feedburnerHostname><item>\r\n\t\t\t<title>Devnology
        Podcast 044 - Tom Gilb</title>\r\n\t\t\t<pubDate>Sat, 18 Jan 2014 21:10:00
        +0000</pubDate>\r\n\t\t\t<guid isPermaLink=\"false\"><![CDATA[ac2ad3e8314ad04407250b4733de988c]]></guid>\r\n\t\t\t<link>http://feedproxy.google.com/~r/DevnologyPodcast/~3/azNo7jw3EkU/250-devnology-podcast-044-tom-gilb</link>\r\n\t\t\t<itunes:image
        href=\"http://assets.libsyn.com/item/2637705\" />\r\n\t\t\t<description>&lt;p&gt;&lt;img
        style=\"float: left; margin: 6px;\" mce_style=\"float: left; margin: 6px;\"
        src=\"http://devnology.nl/images/stories/podcasts/TomGilb.jpg\" mce_src=\"http://devnology.nl/[...]
