%p Hi #{@registration.name}!

%p Please confirm your unregistration for the event '#{@event.title}' by clicking the following link:
%p= link_to 'Confirm unregistration', confirm_unregistration_event_url(@event, params: { token: @registration.confirmation_token })

%p
  Kind regards,
  %br/
  Devnology
