.container.aboutus
  .row
    .col-md-10.col-md-offset-1.title
      %h1 About us

  .row
    .col-md-6.col-md-offset-1
      %h3.mission Devnology aims to provide the Dutch software development community with opportunities to exchange knowledge and experience. We aim to bridge the gap between theory and practice of software development.
      %p To fullfill this mission we aim to bring together a group of developers on a regular basis. On these meetings we want to explore new and exciting technologies, as well as exchange experience with existing technologies. We will generally not focus on a single platform or language, but rather explore the differences between these and look at general concepts of software engineering. We will sometimes invite experts, but more often we'll try to learn from each other.
      %p The Devnology meetings are for developers who are passionate about software development and want to gain and exchange knowledge and experience.

    .col-md-4.block
      %h4 Interested in sponsoring?
      %p Devnology is a non-profit organisation and thus depends on sponsors. We are very grateful to our sponsors for providing location, food, prices, hosting or any other form of sponsorship. Thanks to our sponsors all Devnology events are free!
      %p Are you interested in sponsoring our organisation or an event?
      =link_to 'Send us an e-mail at contact@devnology.nl', 'mailto:contact@devnology.nl'
