/*
 *= require fonts
 */

@import bootstrap

$devnology-blue: #10679E
$devnology-orange: #EB7B00

body

  font-family: "Open Sans"
  font-size: 16px
  color: #333
  -webkit-font-smoothing: antialiased

  h3
    font-size: 20px

  header

    height: 85px
    border-bottom: 2px solid $devnology-orange

    img
      height: 50px
      margin-top: 20px

    .nav-underline
      margin-top: 38px

      > li > a
        border-radius: 0
        font-size: 18px

        background-color: inherit
        color: $devnology-orange

        &:hover
          background-color: inherit
          color: $devnology-blue
          border-bottom: 2px solid $devnology-blue

      > li.active > a
        color: $devnology-blue
        background-color: inherit
        border-bottom: 2px solid $devnology-blue

        &:hover
          background-color: inherit
          color: $devnology-blue
          border-bottom: 2px solid $devnology-blue

  main

    .banner
      border-bottom: 2px solid $devnology-orange
      background: url("banner.jpg") top center
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      background-size: cover
      height: 451px

      h1, h2, h3
        font-family: "Times"
        text-transform: uppercase
        position: absolute
        left: 100px
        padding: 5px
        color: white

      h1
        background-color: rgba($devnology-orange, 0.7)
        top: 370px

      h2
        background-color: rgba(black, 0.9)
        top: 300px

      h3
        background-color: rgba($devnology-orange, 0.7)
        top: 425px

    .updates
      padding: 40px 0
      border-bottom: 1px solid #CCC
      background-color: whitesmoke

    .sponsors
      padding: 60px 0
      text-align: center

      img
        width: 100%
        margin-bottom: 30px

      h3
        line-height: 1.6
