%h4 Registrations

- if @registrations.any?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th E-mail
        %th.column-small Confirmed

    %tbody
      - @registrations.each do |registration|
        %tr
          %td= registration.name
          %td= registration.email
          %td= registration.confirmed
- else
  %p There are no registrations..

= link_to 'Back to events', backend_events_path, class: 'btn'
