.container.podcasts
  .row
    .col-md-10.col-md-offset-1.title
      %h1 Podcasts

  .row
    .col-md-10.col-md-offset-1

      - @recent_podcasts.each do |podcast|
        %h3= link_to podcast.title, podcast_path(podcast.guid)

        .podcast
          %p= podcast.truncated_description
          .clearfix

      %h2 Archive
      - @old_podcasts.each do |podcast|
        %h4= link_to podcast.title, podcast_path(podcast.guid)
