.container
  .row
    .col-md-10.col-md-offset-1.title
      %h1= @podcast.title

  .row
    .col-md-10.col-md-offset-1.listen
      .row
        .col-md-5.col-md-offset-1
          %h4 Listen to this podcast
          %audio{ controls: true }
            %source{ src: @podcast.url }
        .col-md-4.col-md-offset-1
          %h4 Download this podcast
          = link_to "Download podcast", @podcast.url, class: 'btn btn-default', download: @podcast.title, target: '_blank'

  .row
    .col-md-10.col-md-offset-1.podcast
      %p= @podcast.description
